NEXT_PUBLIC_API_URL=https://admin-api.example.com/api
NEXT_PUBLIC_UPLOAD_URL=https://admin-api.example.com/upload
NEXT_PUBLIC_PRODUCT_IMAGE_BASE_URL=https://cdn.example.com/products/images/productsimg
